:root {
  --blue: #002B5B;
  --turquoise: #8FE3CF;
  --cyan-blue: #2B4865;
  --cyan: #256D85;
  --white: #ffffff;
  --green-cyan: #80CCBA;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  color: var(--turquoise);
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.container {
  background-color: var(--cyan-blue);
  border: solid 3px var(--cyan);
  border-radius: 7px;
  max-width: 230px;
  text-align: center;
  padding: 10px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--white);
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--white);
  font-weight: bold;
  width: 150px;
  margin-bottom: 5px;
  border-radius: 5px;
}

button:active {
  transform: translateY(2px);
}

#increment-btn {
  background: var(--cyan);
  color: var(--white);
}

#save-btn {
  background: var(--green-cyan);
  color: var(--white);
}

.entries {
  color: var(--white);
}

.entrie-text {
  color: var(--white);
}
